In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data.csv')
df.head()

,Text,Date,Favorites,Retweets,Tweet ID
0,b'The Roger Stone report on @CNN is false - Fa...,2017-05-10 08:57:16,27067,8367,862290442129461249
1,"b'caught, he cried like a baby and begged for ...",2017-05-10 08:39:59,29927,7607,862286091759611905
2,"b'years, as a pol in Connecticut, Blumenthal w...",2017-05-10 08:30:51,28166,8155,862283792559616000
3,b'Watching Senator Richard Blumenthal speak of...,2017-05-10 08:24:32,29273,8519,862282202188566529
4,b'Comey lost the confidence of almost everyone...,2017-05-10 07:27:13,43627,11545,862267781336752128

In [4]:
df.tail()

,Text,Date,Favorites,Retweets,Tweet ID
31862,"b'""My persona will never be that of a wallflow...",2009-05-12 10:07:28,1914,1457,1773561338
31863,b'New Blog Post: Celebrity Apprentice Finale a...,2009-05-08 16:40:15,29,9,1741160716
31864,b'Donald Trump reads Top Ten Financial Tips on...,2009-05-08 09:38:08,5,5,1737479987
31865,b'Donald Trump will be appearing on The View t...,2009-05-04 21:00:10,6,4,1701461182
31866,b'Be sure to tune in and watch Donald Trump on...,2009-05-04 14:54:25,342,398,1698308935

In [22]:
df.iloc[31865].Text

"b'Donald Trump will be appearing on The View tomorrow morning to discuss Celebrity Apprentice and his new book Think Like A Champion!'"

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31867 entries, 0 to 31866
Data columns (total 5 columns):
Text         31867 non-null object
Date         31867 non-null object
Favorites    31867 non-null int64
Retweets     31867 non-null int64
Tweet ID     31867 non-null int64
dtypes: int64(3), object(2)
memory usage: 1.2+ MB

In [13]:
text_only = []
for i in df['Text']:
    text_only.append(i)

In [18]:
the_file = open('tweettext.txt','w')
for item in text_only:
    the_file.write(item)